{% extends "base.html" %}
{% block title %} Recipes {% endblock %}

{% block content %}

<div class="container p-5">
    
    <h1 align="center">Recipes</h1>

    <div>
	    <!-- Select ingredient preferences -->
    </div>

    <!-- Carousel with recipes recommended by nutritionist -->
    {% if user.account_type == "client" and user.nutritionist_id %}
        <div class="recommended-recipes">
            <h2 class="mt-5 mb-4">Recommended</h2>
            <div id="recommended-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for recipe in recommended_recipes %}
                    {% if loop.index0 % 4 == 0 %}
                    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                        <div class="row">
                    {% endif %}
                    <div class="col-md-3">
                        <div class="card mb-4 recipe-tile">
                            <div class="card-body">
                                <img src="{{ recipe.recipe.recipe_picture }}" alt="Recipe Image" class="img-fluid">
                                <h5 class="mt-0">{{ recipe.recipe.title }}</h5>
                            
                                <p><strong>{{ recipe.recipe.recipe_type.capitalize() }}</strong></p>
                                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recipe-modal-{{ recipe.recipe_id }}">
                                        View Recipe
                                    </button>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 4 == 0 or loop.last %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#recommended-carousel" data-bs-slide="prev" style="width:5%; height:94%;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#recommended-carousel" data-bs-slide="next" style="width:5%; height:94%;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    {% endif %}

    <!-- Carousel with Breakfast recipes -->
    <div class="breakfast-recipes">

        <h2 class="mt-5 mb-4">Breakfast</h2>

        <div id="breakfast-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for recipe in breakfast_recipes %}
                    {% if loop.index0 % 4 == 0 %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                    {% endif %}
                    <div class="col-md-3">
                        <div class="card mb-4 recipe-tile">
                            <div class="card-body">
                                <img src="{{ recipe.recipe_picture }}" alt="Recipe Image" class="img-fluid">
                                <h5>{{ recipe.title }}</h5>
                                <button type="button" class="btn btn-outline-primary btn-sm mt-4" data-bs-toggle="modal" data-bs-target="#recipe-modal-{{ recipe.id }}">
                                        View Recipe
                                    </button>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 4 == 0 or loop.last %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#breakfast-carousel" data-bs-slide="prev" style="width:5%; height:94%;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#breakfast-carousel" data-bs-slide="next" style="width:5%; height:94%;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
 

    <!-- Carousel with Main Meal recipes -->
    <div class="main-recipes">

        <h2 class="mt-5 mb-4">Main Meals</h2>

        <div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for recipe in main_recipes %}
                        {% if loop.index0 % 4 == 0 %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="row">
                        {% endif %}
                        <div class="col-md-3">
                            <div class="card mb-4 recipe-tile">
                                <div class="card-body">
                                    <img src="{{ recipe.recipe_picture }}" alt="Recipe Image" class="img-fluid">
                                    <h5>{{ recipe.title }}</h5>
                                    <button type="button" class="btn btn-outline-primary btn-sm mt-4" data-bs-toggle="modal" data-bs-target="#recipe-modal-{{ recipe.id }}">
                                            View Recipe
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% if loop.index % 4 == 0 or loop.last %}
                                </div>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev" style="width:5%; height:94%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next" style="width:5%; height:94%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Carousel with Snack recipes -->
    <div class="snack-recipes">

        <h2 class="mt-5 mb-4">Snacks</h2>

        <div id="snack-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for recipe in snack_recipes %}
                    {% if loop.index0 % 4 == 0 %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                    {% endif %}
                    <div class="col-md-3">
                        <div class="card mb-4 recipe-tile">
                            <div class="card-body">
                                <img src="{{ recipe.recipe_picture }}" alt="Recipe Image" class="img-fluid">
                                <h5>{{ recipe.title }}</h5>
                                <button type="button" class="btn btn-outline-primary btn-sm mt-4" data-bs-toggle="modal" data-bs-target="#recipe-modal-{{ recipe.id }}">
                                        View Recipe
                                    </button>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 4 == 0 or loop.last %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#snack-carousel" data-bs-slide="prev" style="width:5%; height:94%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#snack-carousel" data-bs-slide="next" style="width:5%; height:94%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
    
    <!-- Modal with the recipe -->
    {% for recipe in recipes %}
      <div class="modal fade" id="recipe-modal-{{ recipe.id }}" tabindex="-1" aria-labelledby="recipe-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="recipe-modal-label">{{ recipe.title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Ingredients:</h6>
                <ul>
                  {% for ingredient in recipe_ingredients %}
                    {% if ingredient.recipe_id == recipe.id %}
                        <li><strong>{{ ingredient.amount }} {{ ingredient.measurement }}</strong> {{ ingredient.ingredient_name }} </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <h6>Preparation:</h6>
                <p>{{ recipe.description }}</p>
                <h6>Nutritional Values:</h6>
                <table border="1" align="center" class="table" style="width:100%;">
                    <tr align="center"> 
                        <th>Energy (kcal)</th>
                        <th>Proteins (gr)</th>
                        <th>Carbohydrates (gr)</th>
                        <th>Fats (gr)</th>
                    </tr>
                    <tr align="center">
                        <td>{{ recipe.total_calories }}</td>
                        <td>{{ recipe.total_proteins }}</td>
                        <td>{{ recipe.total_carbs }}</td>
                        <td>{{ recipe.total_fats }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
              {% if user.account_type == "client" %}
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-to-plan-modal-{{ recipe.id }}">Add to My Plan</button>
              {% else %}
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#recommend-modal-{{ recipe.id }}">Recommend</button>
              {% endif %}
              <!-- Add additional modal buttons if required -->
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    
    <!-- Modal to add recipe to My Plan -->
    {% for recipe in recipes %}
        <div id="add-to-plan-modal-{{ recipe.id }}" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-white bg-primary">
                    <div class="modal-header">
                        <h5 class="modal-title text-white">Add recipe to My Plan</h5>
                        <button type="button" class="close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-to-plan-form" method="POST" action="/save_to_myplan">
                            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                            <div class="form-group">
                                <label for="meal-date">Select Date:</label>
                                <input type="date" id="meal-date" name="meal-date" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="meal-type">Select Meal:</label>
                                <select id="meal-type" name="meal-type" class="form-control" required>
                                    <option value="breakfast">Breakfast</option>
                                    <option value="lunch">Lunch</option>
                                    <option value="dinner">Dinner</option>
                                    <option value="snack">Snack</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-light mt-2">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Modal to recommend recipes to Clients -->
    {% for recipe in recipes %}
    <div class="modal fade" id="recommend-modal-{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="client_modal_label" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="nutritionist_modal_label">Clients</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>

          <div class="modal-body">

            <!-- Search input field 
            <input type="text" id="search_input" class="form-control mb-3" placeholder="Search for a nutritionist"-->
          
            <div class="client-list mt-3">
                {% for client in clients %}
  
                   <div class="card border-primary mb-3">
                      <div class="row g-0 align-items-center">
                        <div class="col-md-2">
                            {% if client.profile_picture %}
                              <img src="{{ url_for('static', filename='profile_pictures/' + client.profile_picture) }}" alt="Profile Picture" class="img-fluid rounded-circle p-2" style="max-width: 9vw; height: 9vw;">
                            {% endif %}
                        </div>
                        <div class="col-md-10">
                          <div class="card-body">
                            <h3 class="card-title">{{ client.first_name }} {{ client.last_name }}</h3>
                            <p class="card-text"><strong>Email:</strong> {{ client.email }}</p>
                            <form id="recommend-recipe-form" method="POST">
                                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                                <input type="hidden" name="client_id" value="{{ client.id }}">
                                <button type="submit" class="btn btn-primary">Recommend</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
    
              {% endfor %}
            </div>

          </div>

        </div>
      </div>
    </div>
    {% endfor %}

</div>
<script src="static/javascript/recipes.js"></script>

{% endblock %}