{% extends "base.html" %}
{% block title %} Sign Up Page {% endblock %}

{% block content %}
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4 p-4 justify-content-center align-items-center d-block">
    <form method="POST">
        <h3 align="center">Sign Up</h3>

        <div class="form-group mt-2">
            <label for="email">Email Address:</label>
            <input type="email" 
                   class="form-control" 
                   id="email" 
                   name="email" 
                   placeholder="Enter email"
            />
        </div>

        <div class="form-group mt-1">
            <label for="first_name">First Name:</label>
            <input type="text" 
                   class="form-control" 
                   id="first_name" 
                   name="first_name" 
                   placeholder="Enter first name"
            />
        </div>

        <div class="form-group mt-1">
            <label for="last_name">Last Name:</label>
            <input type="text" 
                   class="form-control" 
                   id="last_name" 
                   name="last_name" 
                   placeholder="Enter last name"
            />
        </div>

        <div class="form-group mt-1">
            <label for="age">Date of Birth:</label>
            <input type="date" 
                   class="form-control"
                   id="date_of_birth" 
                   name="date_of_birth">

        </div>

        <div class="form-group mt-1">
            <label for="gender">Gender:</label>
            <select class="form-control"
                    name="gender" 
                    id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="form-group mt-1">
            <label for="password1">Password:</label>
            <input type="password" 
                   class="form-control" 
                   id="password1" 
                   name="password1" 
                   placeholder="Enter password"
            />
        </div>

        <div class="form-group mt-1">
            <label for="password2">Confirm Password:</label>
            <input type="password" 
                   class="form-control" 
                   id="password2" 
                   name="password2" 
                   placeholder="Confirm password"
            />
        </div>

        <div class="form-group mt-1">
            <label for="account_type">Account Type:</label>
            <select class="form-control"
                    name="account_type" 
                    id="account_type">
                <option value="nutritionist">Nutritionist</option>
                <option value="client">Client</option>
            </select>
        </div>

        <br/>
        <button type="submit" class="btn btn-primary">Sign Up</button>

    </form>
</div>
</div>
{% endblock %}